.row {
  display: flex;
}

.items {
  padding-right: 65px;
}
.drop{
  margin: -8px -9px 0px -9px
}

.Table{
  border: 1px solid black;
}
.Thead{
border:1px solid black;
}
.Tcell{
  border-bottom: 1px solid black !important;
  border-right: 1px solid black;

}